body {
    font-size: 15px;
    background: radial-gradient(rgb(0, 84, 21), rgb(0, 44, 200));
    font-family: 'Montserrat', sans-serif;
}

#soundContainer {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;

    margin: 3vw;
    padding: 2vw;
    padding-left: 6vw;
    padding-right: 6vw;
    margin-top: 6vw;
}

.sound {
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;

    width: 110px;
    height: 110px;

    max-width: 15vw;
    max-height: 15vw;

    border-radius: 100px;
    margin: 1.7vw;
    border: solid 5px #09ABB3;

    z-index: 10;
    cursor: pointer;
}

.sound:hover {
    transform: scale(1.04);
}

.sound:active {
    transform: scale(1.1);
}

.assignedButton {
    margin-top: 5%;
    margin-bottom: 5%;

    color: rgb(123, 203, 000);
    font-size: 2.2em;
}

.btnRe {
    position: static;

    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.4);

    border: solid 2px rgb(123, 203, 206);
    color: #A7EAED;

    border-radius: 100%;
    font-size: 0.8em;

    padding: 7px;
    margin: 1px;
}
